.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    /* gap: 20px; */
}
.eye{
    position: relative;
    left: -30px;
    bottom: -5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.phone{
    display: flex;
    flex-direction: column;
}
.eye.show{
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}
#form{
    background: #000;
    color: aliceblue;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 3px;
    border-radius: 10px;
    border: 1px solid ;

}
/* #form:hover{
    b
} */
  .inp1{
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
    padding: 10px;
  }
  .inp1:hover {
    border: 1px solid #aaa;
  }
  
  .inp2{
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
    padding: 10px;
  }
  .inp2:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
  }
  .inp3 {
    border:1px solid #111;
    transition: .3s background-color;
    border-radius: 10px;
    padding: 10px;
  }
  .inp3:hover {
    background-color: #fafafa;
  }
  .phone-title{
    position: relative;
    left: -40px;
  }
